<div class="banner">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://s7ap1.scene7.com/is/image/adityabirlafashion/VH_D_HB_25_Women_Casual_Formal?resMode=sharp2&wid=1600&hei=460" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://s7ap1.scene7.com/is/image/adityabirlafashion/VH_D_HB_24_Menswear_Casual_Formal?resMode=sharp2&wid=1600&hei=460" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://s7ap1.scene7.com/is/image/adityabirlafashion/VH_D_HB_23_Women_Casual?resMode=sharp2&wid=1600&hei=460" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>

    <p class="text-center mt-5">Be Fashion forward</p>
    <hr>
 <!-- Section-->
        <section class="">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col column mb-5" *ngFor="let product of allProducts | filter:searchTerm:'title'">
                        <div class="card h-100 border border-1 border-warning shadow">
                            <!-- Product image-->
                            <img height="270px"  class="card-img-top  p-4" [src]="product.image" alt="..." />
                           
                            <!-- Product details-->
                            <div class="card-body p-4 mb-1">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{product.title}}</h5>
                                    <!-- Product price-->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <h4 class="text-success text-center mb-3">${{product.price}} </h4>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="view-product/{{product.id}}">View options</a></div>
                            </div>
                        </div>
                    </div>