<div class="first">

    <h2 class="head mt-3  text-dark text-center">My wishlist <span><img class="ms-1" width="35px" src="http://clipart-library.com/images_k/transparent-heart-outline/transparent-heart-outline-15.png" alt=""></span></h2>
</div>


<!-- Empty wishlist  -->
<div class="container" *ngIf="product.length==0">
    <div class="row">
        <div class="col text-center mt-3 ">
            <img width="500px" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h3>Your wishlist is empty</h3>
            <p>Explore site and add items to your wishlist</p>
            <button routerLink="" class="btn btn-dark" routerLink="">Shop more</button>

        </div>
    </div>
   
</div>

<!-- Wishlist with content  -->

<!-- Section-->
<section class="">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let item of product">
                <div class="card h-100 ">
                    <!-- Product image-->
                    <img height="270px" class="card-img-top p-4" [src]="item.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h3 class="fw-bolder">{{item.title}}</h3>
                            <!-- Product price-->
                            <h4 class="text-success">$ {{item.price}}</h4>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a (click)="deleteWishlist(item.id) " class="btn btn-outline-dark mt-auto">Remove</a>
                            <a (click)="addtocart(item)" class="btn btn-outline-dark mt-auto ms-3" >Add to cart</a>
                        </div>

                    </div>
                </div>
            </div>